* {
	box-sizing: border-box;
}
body { 
	font-family: 'Roboto', sans-serif;
	background-image: url(Images/patt.png);
}
.row:after {
	content: "" ;
	clear: both;
	display: block;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
[class*="col-"] {
	float: left;

}
.col-md-3 {
	width: 25%;
	margin-top: 4px;
}
.col-md-4{
	width: 23%;
}
.col-md-5{
	width: 30%;
	border: 1px solid white;
}
.col-md-6 {
	width: 50%;
}
.col-md-9{
	width: 77%;
}
.header	{
	background-color: rgba(255,255,255,0.75);
	padding: 25px 0;
}
/*ul:after {
	content: "" ;
	clear: both;
	display: block;
	float: none;
}*/
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none; 
}
ul.menu>li {
	width: 25%;
	float: left;
	border-right: 1px solid #2c71d8;
	position: relative;
}
ul.menu>li:first-child {
	border-left: 1px solid #2c71d8; 
}
ul.menu>li>a {
	display: block;
	height: 50px;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	font-size: 21px;
	color: #2c71d8;
}
ul.menu>li>a:hover {
	background-color: #2c71d8;
	color: white;
}


ul.submenu {
	/*margin-top: 15px;*/
    display: none;
    width: 200%;/*292.5px*/
    top: 50px;
    left: 0;
    background-color: #2c71d8;
    border: 1px solid #2692c7;
    position: absolute;
    z-index: 10;
}
ul.submenu> li {
    display: block;
}
ul.submenu>li>a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #2c71d8;
    text-decoration: none;
}
ul.submenu>li>a:hover {
    text-decoration: none;
    color: #2c71d8;
    background-color: white;
}
ul.menu>li:hover>ul.submenu{
	display: block;
}
.container-fluid{
	height: 100%;
	margin-top: 5px;

}
.search:after {
	content: "" ;
	clear: both;
	display: block;
	} 
.search {
    width: 70%; 
    float: left;
    border: 1px solid #2c71d8;
    margin-left: 30px;


}
input[type*="search"] {
   	width: 80%;
   	height: 40px;
    border: none; 
    outline: none; 
    vertical-align: middle; 
   	background-color: inherit;
   	filter: alpha(opacity='60');
	opacity: .6;
	-moz-opacity: 0.6;
	
}
input[type*="submit"] {
    width: 30px; /* Ширина кнопки */
    height: 30px; /* Высота кнопки */
    border: none; /* Убираем рамку */
    background: url(Images/search.png) no-repeat 50% 50% ; /* Параметры фона */
    background-color:#2d71b8;
    vertical-align: middle; /* Выравнивание по середине */
}
input[placeholder="search"]::-webkit-input-placeholder {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 21px;
    color: #2c71b8;
    left: 20px;
}
input[placeholder="search"]:active, 
input[placeholder="search"]:hover, 
input[placeholder="search"]:focus {
    outline: 0;
    outline-offset: 0;

}
.basket {
	width: 40px; /* Ширина кнопки */
    height: 40px; /* Высота кнопки */
    margin-left: 15px;
    float: left;
    vertical-align: middle; /* Выравнивание по середине */
	background: url(Images/basket.png) no-repeat 50% 50%;
	background-color:white;
	position: relative;
}
.basket:hover {
	background-color: #2c71b8;
    background-image: url(Images/basket-2.png);
    background-repeat: no-repeat;
    background-position: center;
}
.number{
	height: 20px;
	width: 20px;
	text-align: center;
	background-color: #2d71b8;
	border: 1px solid #2c71b8;
	border-radius: 50%; 
	color: white;
	position: absolute;
	top: -10px;
	left: -10px;
}
.dropdown {
    display: none;
}
.bred{
	margin:20px 0px 10px;
}
.col-md-9>h2{
	color: white;
	font-size: 48px;
    font-weight: bold;
    margin: 10px 0px 20px;
}
.mr {
    margin-right: 30px;
    margin-bottom: 20px;
    float: top;
}
.img-product {
    width: 100%;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.75);
    background-image: url(Images/display.png);
    border: 1 solid white;
}
.img-product>img {
    display: block;
    margin: 0 auto;
    text-align: center;
    /*padding-top: 15px;*/
}
.icon {
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    background: transparent;
    position: relative;
}
.target {
    background-image: url(Images/target2.png);
    background-repeat: no-repeat;
    background-position: center;
    top: 8px;
    left: 230px;
}
.target:hover {
    border: 1px solid white;
    background-color: #2c71b8;
    background-image: url(Images/target1.png);
}
.like {
    background-image: url(Images/like2.png);
    background-repeat: no-repeat;
    background-position: center;
    top: 48px;
    left: 196px;
}
.like:hover {
    border: 1px solid white;
    background-color: #2c71b8;
    background-image: url(Images/like1.png);
}

.detales>h3 {
    font-size: 30px;
    color: white;
    padding: 15px 0px 0px 15px;
}
.detales>p {
    font-size: 21px;
    color: white;
    padding-left: 15px;
    padding-top: 16px;
}
.price {
	/*padding-top: 30px;
    padding-bottom: 25px;*/
    font-size: 48px;
    color: white;
    padding: 15px 30px 0px 25px;
    margin-bottom: 25px;
    text-align: center;
    
}
.dt {
    text-transform: uppercase;
}
.detales>button {
    width: 210px;
    height: 50px;
    border: 1px solid white;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    color: white;
    font-size: 21px;
    background-color: #2c71b8;
    
}
button[value="more detales"] {
    margin-bottom: 15px;
    background-color: #2c71b8;
    /*background: transparent;*/
}
button[value="add to card"] {
    margin-bottom: 28px;
    background-color: rgba(255, 255, 255, 0.20);
    background-image: url(Images/basket-2.png);
    background-repeat: no-repeat;
    background-position: 185px;

}
.detales>button:hover {
	color: #2c71d8;
    background-color: white;
}

button[value="add to card"]:active, 
button[value="add to card"]:hover, 
button[value="add to card"]:focus 
button[value="more detales"]:active, 
button[value="more detales"]:hover, 
button[value="detales"]:focus
{
    outline: 0;
    outline-offset: 0;
}